<!-- wp:html --><div class="WP_DEBUG">Wizzie front-page.html</div>
<!-- /wp:html -->
<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->
<!-- wp:woocommerce/featured-product {"editMode":false,"productId":69011} -->
<!-- wp:button {"align":"center"} --><div class="wp-block-button aligncenter"><a class="wp-block-button__link" href="https://woocommerce.wp.a2z/product/my-favourite-block-annotated/">Shop now</a></div>
<!-- /wp:button -->
<!-- /wp:woocommerce/featured-product -->
<!-- wp:template-part {"slug":"product-categories","theme":"wizzie","style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"backgroundColor":"very-light-gray","layout":{"inherit":false,"contentSize":"1240px"}} /-->
<!-- wp:template-part {"slug":"page-content","theme":"wizzie","align":"wide","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"customer-reviews","theme":"wizzie","tagName":"section"} /-->
<!-- wp:template-part {"slug":"search","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"page-footer","theme":"wizzie","tagName":"footer","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"footer","theme":"wizzie"} /-->
<!-- wp:template-part {"slug":"footer-menu","theme":"wizzie","className":"footer-menu"} /-->